body{
margin:0;
background:#0b0d10;
color:white;
font-family:Inter,sans-serif;
}

nav{
background:#161921;
padding:12px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-weight:800;
font-size:1.5rem;
}

.logo span{
color:#9b59b6;
}

#searchBox{
padding:10px;
border-radius:6px;
border:none;
background:#1e293b;
color:white;
}

.container{
max-width:1100px;
margin:auto;
padding:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
gap:15px;
}

.card img{
width:100%;
border-radius:6px;
}

.title{
font-size:.8rem;
margin-top:5px;
}